@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400;500;700&family=Outfit:wght@400;700&display=swap');

:root {
    --green: rgba(43, 179, 42, 1);
    --black: rgba(26, 30, 28, 1);
}

html,body {
    overflow-x: hidden;
    background-color: #1A1E1C;
    background-image: url('images/bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
    font-family: "M PLUS 1";
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    background-color: rgba(94, 93, 93, 0.107);
    padding: 1rem 0.5rem 1rem 0.5rem;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links {
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .links a {
    text-decoration: none;
    color: white;

}

nav .links a:hover {
    color: var(--green);
}

nav button {
    all: unset;
    border:2px solid;
    border-radius: 30px;
    border-color: var(--green);
    color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
}

.h-content {
    position: relative;
    display: flex;
    align-items: center;
    top: 80px;
    justify-content: space-between;
}

.h-content .text {
    margin-left: 50px;
    width: 600px;
}

.text h1 {
    color: white;
    font-size: 4rem;
}

.text p {
    margin-top: -15px;
    color: rgba(173, 178, 177, 1);
    width: 40rem;
}

.text span {
    background: -webkit-linear-gradient(#91db82, #194a23);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text button {
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-color: var(--green);
    color: white;

}

.h-content img {
    height: 389px;
    width: 550px;
}
#section-1{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.box1 {
    margin-top: 100px;
    width: 80%;
    height: 150px;
    background: rgba(61, 84, 77, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(61, 84, 77, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.small-box h1 {
    color: white;
}

.small-box p {
    margin-top: -10px;
    color: var(--green);
}

.companies{
    margin-top: 80px;
    width: 80%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}

#section-2 h2{
    margin-top: 120px;
    color:white;
    text-align: center;
}
.provides{
    margin-top:80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.provides .box{
    align-items: start;
    justify-content: center;
    display: flex;
}
.mini-box{
    margin-top: 20px;
    margin-right: 15px;;
    height:50px;
    width:50px;
    background: rgba(61, 84, 77, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(61, 84, 77, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    align-items: center;
    justify-content: center;
}
.provides .box .text{
    color:white;
    display: flex;
    flex-direction: column;
    
}
.provides .box .text p{
    width:210px;
}
.content-3{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.content-3 img{
    width:434.15px;
    height:389.82px;
}
.content-3 .text{
    margin-left: 50px;
}
.content-4{
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
}
.content-4 .text{
    margin-top: -50px;
    margin-left: 45px;
}

.content-4 img {
    margin-top: 0px;
    margin-left: 20px;
    height: 384.38px;
    width: 418.36px;
}
.testimonials{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 70px;
}
.t{
    height:250px;
    width: 300px;
    padding: 20px;
    background: rgba(61, 84, 77, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    border: 1px solid rgba(61, 84, 77, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.18);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.t-content{
    display: flex;
}
.t-content .profile{
    height:40px;
    width:40px;
    border-radius: 100%;
    background-image: url("images/p1.svg");
    background-size: cover;
}
.t p{
    color: white;
}
.icon-box{
    background-color: rgba(172, 169, 169, 0.233);
    height:30px;
    width:30px;
    padding: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    margin-top: 40px;
    background-color: rgba(94, 93, 93, 0.107);
    color: rgb(137, 137, 137);
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}